#scheme-color {
  display: none;
}

.scheme {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__language,
  &__mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-gap-larger);

    height: 28px;
    background-color: var(--clr-lowest);
    border: 1px solid var(--clr-low);
    border-radius: var(--radius-round);
  }

  &__mode {
    overflow: clip;
    cursor: pointer;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      height: 100%;
      aspect-ratio: 1 / 1;
      border: 1px solid var(--clr-low);
      border-radius: var(--radius-round);
      left: 0;
      margin-left: -1px;
      margin-right: -1px;
      transition: transform var(--ad-500) ease;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 28px;
    height: 28px;

  }
  &__icon {
    stroke: var(--clr-high);
    margin-left: -1px;
    margin-right: -1px;
  }
}

#scheme-color:checked ~ .footer .scheme__mode:after {
  transform: translateX(42px);
}