.nav-toggler {

  &__input {
    display: none;
  }

  &__label {
    position: fixed;
    z-index: 9999;
    top: var(--margin-sides-xs);
    right: var(--margin-sides-xs);
    width: var(--space-xl);
    height: var(--space-xl);

    display: flex;
    flex-direction: column;
    gap: var(--space-3xs);
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border-radius: var(--radius-l);
    border: 1px solid var(--clr-low);
    background: var(--clr-lower);
  }

  &__line {
    width: var(--space-s);
    height: var(--space-4xs);

    border-radius: var(--radius-m);
    background: var(--clr-high);
    transition: var(--ad-500);
  }

  &__nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    background: var(--clr-lower);
    transition: transform var(--ad-500);
    transform: translateX(100%);
  }

  &__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-xl);
  }

  &__link {
    text-decoration: none;
    color: var(--clr-highest);

    font-weight: var(--fw-bold);
    font-size: var(--fs-20);
  }

  &__input:checked ~ &__nav {
    transform: translateX(0%);
  }

  &__input:checked ~ &__label > &__line {
    transform: translate3d(0px, 3px, 0px) rotateZ(-45deg);
    transform-style: preserve-3d;
  }

  &__input:checked ~ &__label > &__line + &__line {
    transform: translate3d(0px, -3px, 0px) rotateZ(45deg);
    transform-style: preserve-3d;
  }
}