@import "../helpers";

.footer {
  background-color: var(--clr-lowest);
  padding-bottom: 1.25rem;

  &__wrapper {
    @include margin-sides;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.875rem; //14px
  }

  &__logo {
    height: var(--space-xl);
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: var(--space-xs);

    &-item {
      fill: var(--clr-higher);
    }

    &-text {
      color: var(--clr-higher);
      font-size: var(--fs-18);
      font-weight: var(--fw-bold);
    }
  }

  &__contact {
    padding: var(--padding-sides-6) var(--padding-sides-12);
    border: 1px solid var(--clr-low);
    border-radius: var(--radius-l);
    text-decoration: none;
    background: var(--clr-lower);
    color: var(--clr-high);
  }

  &__theme {
    margin-bottom: 2.5rem; //40px
  }

  &__accordion {
    display: flex;
    flex-direction: column;
    gap: 1.25rem; // 20px
    margin-bottom: 2rem;

    &-item {
      border-bottom: 1px solid var(--clr-medium);
      padding-bottom: 0.75rem; // 12px
    }

    &-label {
      display: block;
      width: 100%;
      font-size: var(--fs-14);
      font-weight: var(--fw-bold);
      color: var(--clr-highest);
    }

    &-item-social {
      display: none;
    }
  }

  &__nav {

    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-top: 10px;
    }

    &-link {
      text-decoration: none;
      font-size: var(--fs-14);
      font-weight: var(--fw-regular);
      color: var(--clr-high);
    }
  }


  &__social {

    &-list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.25rem;
    }
  }

  &__legal {
    display: none;
  }
}

@media (min-width: 920px) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5rem;
  }

  .footer__about {
    max-width: 300px;
    width: 100%;
  }

  .footer__links {
    gap: clamp(1rem, 4rem, 5rem);
    margin-bottom: 20px;
  }

  .footer__accordion {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 2.75rem;
    align-self: stretch;
  }

  .footer__accordion-item {
    border-bottom: none;
    padding-bottom: 0;
    flex-grow: 1;
  }

  .footer__accordion-label {
    border-bottom: 1px solid var(--clr-medium);
    padding-bottom: 1rem;
    font-size: var(--fs-16);
  }

  .footer__nav-list {
    padding-top: 1rem;
    gap: 1rem;
  }
  .footer__nav-link {
    font-size: var(--fs-16);
  }

  .footer__accordion-item-legal {
    display: none;
  }

  .footer__accordion-item-social {
    display: block;
  }

  .footer__social-mobile {
    display: none;
  }

  .footer__legal-desktop {
    display: flex;
    justify-content: space-between;
    @include margin-sides;
    padding-bottom: 1.25rem;

    .footer__nav-list {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 8rem;
    }
  }

  .footer__social-list {
    padding-top: 1rem;
    justify-content: start;
  }
}