// Class for Screen Readers Only
// **********************************************************

.sro {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

// - @include padding-sides()
// **********************************************************
// Adds padding left and right based on screen width.
// **********************************************************

@mixin padding-sides {
  padding-left: var(--padding-sides-xs);
  padding-right: var(--padding-sides-xs);

  @media (min-width: 480px) {
    padding-left: var(--padding-sides-s);
    padding-right: var(--padding-sides-s);
  }

  @media (min-width: 640px) {
    padding-left: var(--padding-sides-m);
    padding-right: var(--padding-sides-m);
  }

  @media (min-width: 760px) {
    padding-left: var(--padding-sides-l);
    padding-right: var(--padding-sides-l);
  }

  @media (min-width: 920px) {
    padding-left: var(--padding-sides-xl);
    padding-right: var(--padding-sides-xl);
  }

  @media (min-width: 1200px) {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
  }
}

// - @include margin-sides()
// **********************************************************
// Adds margin left and right based on screen width.
// **********************************************************

@mixin margin-sides {
  margin-left: var(--margin-sides-xs);
  margin-right: var(--margin-sides-xs);

  @media (min-width: 480px) {
    margin-left: var(--margin-sides-s);
    margin-right: var(--margin-sides-s);
  }

  @media (min-width: 640px) {
    margin-left: var(--margin-sides-m);
    margin-right: var(--margin-sides-m);
  }

  @media (min-width: 760px) {
    margin-left: var(--margin-sides-l);
    margin-right: var(--margin-sides-l);
  }

  @media (min-width: 920px) {
    margin-left: var(--margin-sides-xl);
    margin-right: var(--margin-sides-xl);
  }

  @media (min-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
  }
}