@import "../helpers";

.contact-page {
  @include margin-sides;
  padding-bottom: 10rem;

  &__title {
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    max-width: 40rem;
    color: var(--clr-highest);
    text-wrap: balance;
    font-size: clamp(var(--fs-30), 10vw, var(--fs-80));
    font-weight: var(--fw-bold);
    line-height: clamp(2.25rem, 10vw, 5rem);
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__aside {
    display: none;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1.5rem, 5vw, 3.5rem);
  align-self: stretch;

  &__group {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 0.75rem;
  }

  &__label {
    color: var(--clr-highest);

    font-size: clamp(var(--fs-14), 4vw, var(--fs-18));
    font-weight: var(--fw-bold);
  }

  &__input {
    display: flex;
    padding: var(--space-xs,) var(--space-m);
    justify-content: center;
    align-items: center;
    align-self: stretch;

    border-radius: var(--radius-l);
    border: 1px solid var(--clr-low);
    background: var(--clr-lower);
    color: var(--clr-high);
    font-size: clamp(var(--fs-14), 4vw, var(--fs-18));
  }

  &__textarea {
    min-height: 8rem;
  }
}

@media (min-width: 768px) {
  .contact-page {
    padding-bottom: 13rem;

    &__content {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-column-gap: 8rem;
    }

    &__aside {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
    }
  }

  .contact-form__button {
    align-self: start;
  }

  .contact-info {

    &__title {
      margin-bottom: 1rem;
      color: var(--clr-highest);
      font-size: var(--fs-20);
      font-weight: var(--fw-black);
    }

    &__details {
      color: var(--clr-high);
      font-size: var(--fs-18);
      font-weight: var(--fw-regular);
    }
  }

  .social-media {
    .footer__social-list {
      padding-top: 0;
    }
  }
}
