:root {
  --clr-zinc-50: hsl(0, 0%, 98%);
  --clr-zinc-100: hsl(240, 5%, 96%);
  --clr-zinc-200: hsl(240, 5%, 90%);
  --clr-zinc-300: hsl(240, 5%, 84%);
  --clr-zinc-400: hsl(240, 5%, 65%);
  --clr-zinc-500: hsl(240, 5%, 46%);
  --clr-zinc-600: hsl(240, 5%, 34%);
  --clr-zinc-700: hsl(240, 5%, 26%);
  --clr-zinc-800: hsl(240, 5%, 16%);
  --clr-zinc-900: hsl(240, 5%, 10%);
  --clr-zinc-1000: hsl(240, 5%, 4%);
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-lowest: var(--clr-zinc-50);
    --clr-lower: var(--clr-zinc-100);
    --clr-low: var(--clr-zinc-200);
    --clr-medium: var(--clr-zinc-300);
    --clr-high: var(--clr-zinc-500);
    --clr-higher: var(--clr-zinc-600);
    --clr-highest: var(--clr-zinc-700);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-lowest: var(--clr-zinc-900);
    --clr-lower: var(--clr-zinc-800);
    --clr-low: var(--clr-zinc-700);
    --clr-medium: var(--clr-zinc-500);
    --clr-high: var(--clr-zinc-400);
    --clr-higher: var(--clr-zinc-300);
    --clr-highest: var(--clr-zinc-200);
  }
}

@media (prefers-color-scheme: light) {
  #scheme-color:checked ~ header,
  #scheme-color:checked ~ main,
  #scheme-color:checked ~ footer {
    --clr-lowest: var(--clr-zinc-900);
    --clr-lower: var(--clr-zinc-800);
    --clr-low: var(--clr-zinc-700);
    --clr-medium: var(--clr-zinc-500);
    --clr-high: var(--clr-zinc-400);
    --clr-higher: var(--clr-zinc-200);
    --clr-highest: var(--clr-zinc-200);
  }
}

@media (prefers-color-scheme: dark) {
  #scheme-color:checked ~ .header,
  #scheme-color:checked ~ main,
  #scheme-color:checked ~ .footer {
    --clr-lowest: var(--clr-zinc-50);
    --clr-lower: var(--clr-zinc-100);
    --clr-low: var(--clr-zinc-200);
    --clr-medium: var(--clr-zinc-300);
    --clr-high: var(--clr-zinc-500);
    --clr-higher: var(--clr-zinc-600);
    --clr-highest: var(--clr-zinc-700);
  }
}