:root {
  --radius-square: 0;
  --radius-m: 0.25rem; //4
  --radius-l: 0.5rem; //8px
  --radius-xl: 1rem; //16px
  --radius-round: 9999;

  // Line-height component
  --size-lh-small: 1rem;
  --size-lh-medium: 1.25rem;
  --size-lh-large: 1.5rem;
  --size-lh-larger: 1.75rem;

  --size-icon-small: 0.875rem;
  --size-icon-medium: 1rem;
  --size-icon-large: 1.25rem;
  --size-icon-larger: 1.5rem;

  --size-gap-small: var(--space-2xs);
  --size-gap-medium: var(--space-2xs);
  --size-gap-large: var(--space-xs);
  --size-gap-larger: var(--space-s);

  --size-padding-h-small: var(--space-s);
  --size-padding-h-medium: var(--space-m);
  --size-padding-h-large: var(--space-l);
  --size-padding-h-larger: var(--space-xl);

  --size-padding-v-small: var(--space-2xs);
  --size-padding-v-medium: var(--space-xs);
  --size-padding-v-large: var(--space-s);
  --size-padding-v-larger: var(--space-m);

  --padding-sides-xs: 24px;//1.5rem; // 24px
  --padding-sides-s: 32px;//2rem; // 32px
  --padding-sides-m: 40px;//2.5rem; // 40px
  --padding-sides-l: 50px;//3.125rem; // 50px
  --padding-sides-xl: 60px;//3.75rem; // 60px

  --margin-sides-xs: var(--padding-sides-xs);
  --margin-sides-s: var(--padding-sides-s);
  --margin-sides-m: var(--padding-sides-m);
  --margin-sides-l: var(--padding-sides-l);
  --margin-sides-xl: var(--padding-sides-xl);
}
