:root {
  --space-4XS: 0.125rem; // 2px
  --space-3XS: 0.25rem; // 4px
  --space-2XS: 0.375rem; // 6px
  --space-XS: 0.5rem; // 8px
  --space-S: 0.75rem; // 12px
  --space-M: 1rem; // 16px
  --space-L: 1.5rem; // 24px
  --space-XL: 2rem; // 32px
  --space-2XL: 3rem; // 48px
  --space-3XL: 4rem; // 64px
}